blog.whoisrgj.com {
    reverse_proxy frontend:3000
}

api.whoisrgj.com {
    reverse_proxy backend:8000
}

media.whoisrgj.com {
    @unsupported_methods not method GET HEAD
    respond @unsupported_methods 405

    reverse_proxy gcsproxy:8080
}
